@model Tsumugi.Models.Detail.TransactionListItem
<div class="transaction" onclick="openDetail('@(Model.ID)')">
    <div class="date">@(Model.DateFormatted)</div>
    <div class="title">@(Model.Title)</div>
    <div class="note">@(Model.Note)</div>
    <div class="category">@(Model.CategoryFormatted)</div>
    <div class="@(Model.TransType) value">@(Model.ValueFormatted)</div>
</div>