@model Tsumugi.Models.Account.AccountModel
@using Tsumugi.Service;
<style>
    #profile-box {
        width: 30%;
        height: 480px;
        background-color: var(--second-color);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        overflow: auto;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        border-radius: 8px;
        color: #FFF;
        text-align: center;
    }

        #profile-box::-webkit-scrollbar {
            width: .85rem;
        }

        #profile-box::-webkit-scrollbar-track {
            background: var(--second-color);
        }

        #profile-box::-webkit-scrollbar-thumb {
            background: var(--third-color);
        }

        #profile-box table {
            margin: 0 auto;
        }

        .profile-label {
            display: block;
            padding-left: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: right;
            margin-left: 5px;
            margin-right: 20px;
        }

    .buttons {
        float: right;
    }

        .profile-save-button {
            float: right;
            font-size: 18px;
            padding: 12px;
            width: 180px;
            background-color: var(--green-color);
            border: none;
            margin-right: 20px;
            margin-top: 35px;
            margin-bottom: 35px;
        }

    .profile-delete-button {
        float: right;
        font-size: 18px;
        padding: 12px;
        width: 180px;
        background-color: var(--red-color);
        border: none;
        margin-right: 20px;
        margin-bottom: 35px;
    }

            .profile-save-button:hover, .profile-delete-button:hover {
                color: var(--font-color) !important;
            }
</style>
<script>
    deleteUser = () => {
        if (confirm("Do you really want to delete this user?")) {
            $.post("/Json/DeleteUser/")
                .done(function (data) {
                    document.forms[0].submit();
                });
        }
    }
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.User.ID)
    if (!string.IsNullOrEmpty(Model.ErrorMSG))
    {
        <div class="alert error">
            <span class="closeBtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Saving failed:</strong> @(Model.ErrorMSG)
        </div>
    }
    else if (Model.Success)
    {
        <div class="alert success">
            <span class="closeBtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Success:</strong> All changes have been saved!
        </div>
    }
    <div class="container">
        <div id="profile-box">
            <h3>@(Model.User.FirstName) @(Model.User.LastName)</h3>
            <table>
                <tr>
                    <td class="profile-label">First name:</td>
                    <td>@Html.EditorFor(m => m.User.FirstName)</td>
                </tr>
                <tr>
                    <td class="profile-label">Last name:</td>
                    <td>@Html.EditorFor(m => m.User.LastName)</td>
                </tr>
                <tr>
                    <td class="profile-label">E-Mail:</td>
                    <td>@Html.EditorFor(m => m.User.EMail)</td>
                </tr>
            </table>
            <h3>Change Password</h3>
            <div class="form-label">New Password:</div>
            @Html.PasswordFor(m => m.NewPassword, new { pattern = "^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*#?&])[A-Za-z\\d@$!%*#?&]{8,}$" })
            <div class="form-label">Repeat Password:</div>
            @Html.PasswordFor(m => m.RepeatPassword)<br />
            <div class="buttons">
                <input type="submit" class="profile-save-button" value="SAVE CHANGES" /><br />
                <input type="button" class="profile-delete-button" name="delete" value="DELETE USER" onclick="deleteUser();" />
            </div>
        </div>
    </div>
}