<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <link rel="icon" href="~/Content/images/logo.png" type="image/png" sizes="16x16">
    <title>Tsumugi - Finance Manager</title>
</head>
<body>
    <div id="main">
        <header>
            <ul>
                <li>
                    <a href="/">
                        <div>
                            <img src="~/Content/images/logo.png" />
                            <span style="padding:0;">TSUMUGI</span>
                        </div>
                    </a>
                </li>
                @if (Tsumugi.Service.TsumugiUser.IsLoggedOn)
                {
                    <li><a href="/Account/Logout">LOGOUT</a></li>
                    <li><a href="/Account/Profile">PROFILE</a></li>
                }
            </ul>
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer>
            <span>&copy; @(DateTime.Now.Year) Tsumugi</span>
        </footer>
    </div>
</body>
</html>