<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <title>Tsumugi - Finance Manager</title>
</head>
<body>
    <div>
        <header>
            <ul>
                <li><a href="/"><img src="~/Content/images/logo.png" /></a></li>
                <li><a href="/">TSUMUGI</a></li>
                @if (Tsumugi.Service.TsumugiUser.IsLoggedOn)
                {
                    <li><a href="/Account/Logout">LOGOUT</a></li>
                }
                else
                {
                    <li><a href="/Account/Login">LOGIN</a></li>
                }
            </ul>
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer>
            <span>&copy; @(DateTime.Now.Year) Tsumugi</span>
        </footer>
    </div>
</body>
</html>