@model Tsumugi.Models.Dashboard.WalletListItem
<div class="wallet-wrapper">
    <div class="quick-view">
        <div class="text @(Model.QuickViewColor)">@(Model.QuickViewSum)</div>
    </div>
    <div class="wallet" onclick="openWallet('@(Model.ID)')" data-id="@(Model.ID)">
        <div class="options"></div>
        <div class="text">@(Model.Name)</div>
    </div>
</div>
