@model Tsumugi.Models.Dashboard.DashboardModel
@using Tsumugi.Service;
<script>
    var walletID = null;

    $(function () {
        let regTab = document.getElementById('register-tab-btn');
        if (regTab !== null && regTab !== undefined) {
            document.getElementById('register-tab-btn').click();
        }

        const menu = document.getElementById('menu');
        const outClick = document.getElementById('out-click');

        window.addEventListener('resize', e => {
            menu.classList.remove('show');
            outClick.style.display = "none";               
        });

        $(".options").each((i, el) => {
            el.addEventListener('click', e => {
                e.preventDefault();
                walletID = $(e.target.parentElement).data("id");

                menu.style.top = `${e.clientY}px`;
                menu.style.left = `${e.clientX}px`;
                menu.classList.add('show');

                outClick.style.display = "block";
                e.stopPropagation();
            })
        });
        
        outClick.addEventListener('click', () => {
            menu.classList.remove('show')
            outClick.style.display = "none"
        });
    });

    openWallet = (walletID) => {
        location.href = `/Detail/Detail?walletID=${walletID}`;
    }

    /* NEW WALLET */

    newWallet = () => {
        $('#walletModal').css({ "display": "block" });
    }

    closeNewWalletModal = () => {
        $('#walletModal').css({ "display": "none" });
    }

    /* RENAME WALLET */

    openRenameWallet = () => {
        if (walletID == null) { return; }
        $('#renameWalletModal').css({ "display": "block" });
        menu.classList.remove('show');
    }

    renameWallet = () => {
        let walletName = $("#RenameWalletName").val();
        $.post("/Json/RenameWallet", { walletID: walletID, newName: walletName });
    }

    closeRenameWalletModal = () => {
        $('#renameWalletModal').css({ "display": "none" });
    }

    /* DELETE WALLET */

    openDeleteWallet = () => {
        if (walletID == null) { return; }
        $('#deleteWalletModal').css({ "display": "block" });
        menu.classList.remove('show');
    }

    deleteWallet = () => {
        $.post("/Json/DeleteWallet", { walletID: walletID });
    }

    closeDeleteWalletModal = () => {
        $('#deleteWalletModal').css({ "display": "none" });
    }

    function openTab(evt, tabName) {
        evt.preventDefault();

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
@if (Model.LoginFailed && !string.IsNullOrEmpty(Model.ErrorMSG))
{
    <div class="alert error">
        <span class="closeBtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Login failed:</strong> @(Model.ErrorMSG)
    </div>
}
<div class="container">
    @if (TsumugiUser.IsLoggedOn)
    {
        <div class="heading">MY WALLETS</div>
        <div class="wallet-container">
            @Html.DisplayFor(m => m.WalletList)
            @if (Model.WalletList.Count < 9)
            {
                <div class="wallet-template">
                    <div class="circle plus" onclick="newWallet();"></div>
                </div>
            }
        </div>

        // CONTEXT MENU
        <ul id="menu">
            <li class="menu-item" id="renameItem" onclick="openRenameWallet()">Rename Wallet</li>
            <li class="menu-item" id="deleteItem" onclick="openDeleteWallet()">Delete Wallet</li>
        </ul>
        <div id="out-click"></div>

        // NEW WALLET MODAL
        <div id="walletModal" class="modal">
            <div class="modal-content center">
                <span class="close" onclick="closeNewWalletModal();">&times;</span>
                <h4>ADD NEW WALLET</h4>
                <div id="wallet-modal-container">
                    <form action="/Dashboard/Dashboard" method="post">
                        <label>Name:</label>
                        @Html.EditorFor(m => m.NewWalletName)
                        <input type="submit" value="CREATE" />
                    </form>
                </div>
            </div>
        </div>

        // RENAME WALLET MODAL
        <div id="renameWalletModal" class="modal">
            <div class="modal-content center">
                <span class="close" onclick="closeRenameWalletModal();">&times;</span>
                <h4>RENAME WALLET</h4>
                <div id="wallet-modal-container">
                    <form action="/Dashboard/Dashboard" method="post">
                        <label>Name:</label>
                        @Html.EditorFor(m => m.RenameWalletName)
                        <input type="submit" value="SAVE" onclick="renameWallet();" />
                    </form>
                </div>
            </div>
        </div>

        // DELETE WALLET MODAL
        <div id="deleteWalletModal" class="modal">
            <div class="modal-content center">
                <span class="close" onclick="closeDeleteWalletModal();">&times;</span>
                <h4>DELETE WALLET</h4>
                <div id="wallet-modal-container">
                    <form action="/Dashboard/Dashboard" method="post">
                        <p>Do you really want to delete this wallet?</p>
                        <input type="submit" value="YES" onclick="deleteWallet();" />
                        <input type="submit" value="NO" onclick="return;" />
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="login-box">
            <div class="tab">
                <button class="tablinks" id="register-tab-btn" onclick="openTab(event, 'Register')">REGISTER</button>
                <button class="tablinks" id="login-tab-btn" onclick="openTab(event, 'Login')">LOGIN</button>
            </div>

            <div id="Register" class="tabcontent">
                <form action="/Dashboard/Dashboard" method="POST">
                    <h4>REGISTER</h4>
                    <span>First name:</span>
                    <div>
                        @Html.EditorFor(m => m.RegisterFirstName, new { htmlAttributes = new { placeholder = "First name...", required = true } })
                    </div>
                    <span>Last name:</span>
                    <div>
                        @Html.EditorFor(m => m.RegisterLastName, new { htmlAttributes = new { placeholder = "Last name...", required = true } })
                    </div>
                    <span>E-Mail:</span>
                    <div>
                        @Html.EditorFor(m => m.RegisterEMail, new { htmlAttributes = new { placeholder = "E-Mail...", required = true } })
                    </div>
                    <span>Password:</span>
                    <div>
                        @Html.PasswordFor(m => m.RegisterPassword, new { placeholder = "Password...", required = true, pattern = "^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*#?&])[A-Za-z\\d@$!%*#?&]{8,}$" })
                    </div>
                    <span>Confirm password:</span>
                    <div>
                        @Html.PasswordFor(m => m.RegisterConfirmPassword, new { placeholder = "Confirm password...", required = true })
                    </div>
                    <input class="login-button" type="submit" value="REGISTER" />
                </form>
            </div>

            <div id="Login" class="tabcontent">
                <form action="/Dashboard/Dashboard" method="POST">
                    <h4>LOGIN</h4>
                    <span>E-Mail:</span>
                    <div>
                        @Html.EditorFor(m => m.EMail, new { htmlAttributes = new { placeholder = "EMail...", required = true } })
                    </div>
                    <span>Password:</span>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password...", required = true })
                    </div>
                    <input class="login-button" type="submit" value="LOGIN" />
                </form>
            </div>
        </div>
    }
</div>