@model Tsumugi.Models.Detail.DetailModel
@using Tsumugi.Service;
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.DeleteTransactionID)
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script>
        var trendNumber = 0;

        $(function () {
            trendNumber = parseFloat("@(Model.Trend)");

            createTrendChart();
            createMonthChart();

            window.onclick = function (event) {
                if (event.target == document.getElementById('detailModal')) {
                    document.getElementById('detailModal').style.display = "none";
                }
            }

        });

        function createTrendChart() {
            var ctx = document.getElementById('trendChart').getContext('2d');
            var trendChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['@(Model.CurrentMonthLabel)', '@(Model.NextMonthLabel)', '@(Model.AfterNextMonthLabel)'],
                    datasets: [{
                        label: 'Amount of Money',
                        data: [0, trendNumber, trendNumber + trendNumber],
                        backgroundColor: [
                            'rgba(239, 208, 162, 0.2)',
                            'rgba(239, 208, 162, 0.2)',
                            'rgba(239, 208, 162, 0.2)',
                        ],
                        borderColor: [
                            'rgba(215, 187, 145, 1)',
                            'rgba(215, 187, 145, 1)',
                            'rgba(215, 187, 145, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        function createMonthChart() {
            var ctx = document.getElementById('monthsChart').getContext('2d');
            var monthChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['EARNINGS', 'SPENDINGS'],
                    datasets: [{
                        label: 'Amount of Money',
                        data: [@(Model.MonthlyEarnings), @(Model.MonthlySpendings)],
                        backgroundColor: [
                            'rgba(67, 181, 129, 0.2)',
                            'rgba(240, 71, 71, 0.2)',
                        ],
                        borderColor: [
                            'rgba(60, 162, 116, 1)',
                            'rgba(216, 63, 63, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        /* TRANSACTION DETAIL */

        openDetail = (transactionID) => {
            $.post("/Json/GetTransaction/", { transactionID: transactionID })
                .done(function (data) {
                    if (fillDetails(data)) {
                        $('#detailModal').css({ "display": "block" });
                    }
                });
        }

        closeDetailModal = () => {
            $('#detailModal').css({ "display": "none" });
        }

        fillDetails = (transaction) => {
            if (transaction != null && transaction != undefined) {
                $("#delete-button").data("id", transaction.ID);
                $("#detail-date").html(transaction.DateFormatted);
                $("#detail-title").html(transaction.Title);
                $("#detail-note").html(transaction.Note);
                $("#detail-value").html(transaction.ValueFormatted);
                $("#detail-category").html(transaction.CategoryFormatted);

                return true;
            }

            return false;
        }

        deleteTransaction = (element) => {
            if (confirm("Do you really want to delete this transaction?")) {
                $("#DeleteTransactionID").val($(element).data("id"));
                document.forms[0].submit();
            }
        }

        // NEW TRANSACTION

        openNewTransaction = () => {
            $('#newTransModal').css({ "display": "block" });
        }

        closeNewTransModal = () => {
            $('#newTransModal').css({ "display": "none" });
        }

    </script>
    <div class="container">
        <div class="heading">@(Model.WalletName)</div>
        <div class="detail-wrapper">
            <div class="chart-container">
                <div id="trend">
                    <h3>TREND</h3>
                    <canvas id="trendChart" width="400" height="400"></canvas>
                </div>
                <div id="months">
                    <h3>THIS MONTH</h3>
                    <canvas id="monthsChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="trans-container">
                @Html.DisplayFor(m => m.TransactionList)
            </div>
            <div id="add-transaction" class="circle plus" onclick="openNewTransaction();"></div>
        </div>
    </div>
    if (Model.VibeCat)
    {
        <div id="vibe-cat">
            <img src="~/Content/images/vibe-cat.gif" />
        </div>
    }
    // DETAIL MODAL
    <div id="detailModal" class="modal">
        <div class="modal-content-transaction center">
            <span class="close" onclick="closeDetailModal();">&times;</span>
            <h4 class="h4-transaction">TRANSACTION DETAIL</h4>
            <div id="wallet-modal-container">
                <table>
                    <tr>
                        <td class="transaction-label">Date:</td>
                        <td class="detail-label"><span id="detail-date">-</span></td>
                    </tr>
                    <tr>
                        <td class="transaction-label">Title:</td>
                        <td class="detail-label"><span id="detail-title">-</span></td>
                    </tr>
                    <tr>
                        <td class="transaction-label">Note:</td>
                        <td class="detail-label"><span id="detail-note">-</span></td>
                    </tr>
                    <tr>
                        <td class="transaction-label">Value:</td>
                        <td class="detail-label"><span id="detail-value">-</span></td>
                    </tr>
                    <tr>
                        <td class="transaction-label">Category:</td>
                        <td class="detail-label"><span id="detail-category">-</span></td>
                    </tr>
                </table>
                <input id="delete-button" class="delete-button-transaction" type="button" data-id="" onclick="deleteTransaction(this)" value="DELETE" />
            </div>
        </div>
    </div>

    // NEW TRANSACTION MODAL
    <div id="newTransModal" class="modal">
        <div class="modal-content-new-transaction center">
            <span class="close" onclick="closeNewTransModal();">&times;</span>
            <h4>NEW TRANSACTION</h4>
            <div id="wallet-modal-container">
                <form action="/Detail/Detail" method="POST">
                    <table>
                        <tr>
                            <td class="new-transaction-label">Earning:</td>
                            <td>@Html.CheckBoxFor(m => m.Type)</td>
                        </tr>
                        <tr>
                            <td class="new-transaction-label">Date:</td>
                            <td>@Html.EditorFor(m => m.Date, new { htmlAttributes = new { required = true } })</td>
                        </tr>
                        <tr>
                            <td class="new-transaction-label">Title:</td>
                            <td>@Html.EditorFor(m => m.Title, new { htmlAttributes = new { required = true } })</td>
                        </tr>
                        <tr>
                            <td class="new-transaction-label">Note:</td>
                            <td>@Html.EditorFor(m => m.Note)</td>
                        </tr>
                        <tr>
                            <td class="new-transaction-label">Value:</td>
                            <td>@Html.EditorFor(m => m.Value, new { htmlAttributes = new { required = true, type = "number" } })</td>
                        </tr>
                        <tr>
                            <td class="new-transaction-label">Category:</td>
                            <td>@Html.DropDownListFor(m => m.CategoryID, Model.CategoryOptions)</td>
                        </tr>
                    </table>
                    <input type="submit" class="create-button-transaction" value="CREATE" />
                </form>
            </div>
        </div>
    </div>
}